/* Put your css in here */

ul{
  list-style :none;
  padding :0;
  overflow : hidden;
}
li{
  float:left;
  padding: 6px 8px;
  background-color: pink;
  
  border : 1px solid black;
  color: white;
  margin : 4px 2px ;
  cursor: pointer;
  
}

li:hover{
  
  background-color: green;
  color : red;
}